#InfiniteDrag {
    border: 2px solid #333;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 5% auto;
    position: relative;
}
#InfiniteDrag > div {
    width: 900px;
    height: 600px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#InfiniteDrag > div .drag-column {
    width: 300px;
    height: 200px;
    float: left;
}
#InfiniteDrag > div .drag-row {
    width: 300px;
    height: 200px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}